<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <form v-on:submit.prevent="submitForm()">
        <table>
          <tr>
            <td>Nama: </td>
            <td><input type="text" v-model="form.name"/></td>
          </tr>
          <tr>
            <td>Address: </td>
            <td><input type="text" v-model="form.address"/></td>
          </tr>
          <tr>
            <td>No HP: </td>
            <td><input type="text" v-model="form.no_hp"/></td>
          </tr>
          <tr >
            <td v-if="buttonStat == 'Submit'">
              <button type="submit">Submit</button>
            </td>
          </tr>
        </table>
      </form>
      <div v-if="buttonStat == 'Upload'">
        <input type="file" name="photo" ref="photo"/>
        <button @click="submitPhoto()">Upload</button>
      </div>
      <table border="1">
        <thead>
          <tr>
            <td>Foto</td>
            <td>Nama</td>
            <td>Address</td>
            <td>No HP</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody >
          <tr v-for="(member, index) in members" :key="index">
            <td><img width="100" v-if="member.photo_profile != null" :src="photoDomain+member.photo_profile" alt="" srcset=""/>
                <img width="100" v-else src="https://ilogo.co.id/wp-content/uploads/2021/07/dummy-image-square.jpg"/>
            </td>
            <td>{{ member.name }}</td>
            <td>{{ member.address }}</td>
            <td>{{ member.no_hp }}</td>
            <td>
              <button @click="uploadPhoto(member)">Upload Photo</button>
              <button @click="deleteMember(member.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
          form : {
            id: "",
            name: "",
            address: "",
            no_hp: ""
          },
          buttonStat : "Submit",
          members : [],
          photoDomain : "http://demo-api-vue.sanbercloud.com"
      },
      methods: {
        getMembers : function() {
          const config = {
            method: "get",
            url: "http://demo-api-vue.sanbercloud.com/api/member"
          }
          axios(config)
            .then((response) => {
              this.members = response.data.members
            })
            .catch((error) => {
              alert(error)
            })
        },
        cleanForm : function() {
          this.form.name = '',
          this.form.address = '',
          this.form.no_hp = ''          
        }
        ,
        submitForm : function() {
          let formData = new FormData()
          formData.append('name', this.form.name)
          formData.append('address', this.form.address)
          formData.append('no_hp', this.form.no_hp)
          const config = {
            method: 'post',
            url: "http://demo-api-vue.sanbercloud.com/api/member",
            data: formData
          }
          axios(config)
            .then((response) => {
              this.cleanForm()
              this.getMembers()
              alert(response.data.message)
            })
            .catch((error) => {
              alert(error)
            })
        },
        uploadPhoto : function(member) {
          this.buttonStat = "Upload"
          this.form.id = member.id
          this.form.name = member.name
          this.form.address = member.address
          this.form.no_hp = member.no_hp
        },
        submitPhoto : function() {
          let file = this.$refs.photo.files[0]
          let formData = new FormData()
          formData.append('photo_profile', file)
          const config = {
            method: 'post',
            url: `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}/upload-photo-profile`,
            data: formData
          }
          axios(config)
            .then((response) => {
              this.cleanForm()
              this.getMembers()
              alert(response.data.message)
              this.buttonStat = "Submit"
            })
            .catch((error) => {
              alert(error)
            })
        },
        deleteMember : function(id){
          const config = {
            method: 'post',
            url: `http://demo-api-vue.sanbercloud.com/api/${id}`,
            params: { _method : "DELETE"}
          }
          axios(config)
            .then((response) => {
              this.getMembers()
              alert(response.data.message)
            })
            .catch((error) => {
              alert(error)
            })
        } 
      },
      created(){
        this.getMembers()
      } 
  })
  </script>
</body>
</html>