<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app"> 
        <input type="text" v-model="input"/>
        <input type="button" value="add" id="addButton" @click="addUser" style="display: block;"/>
        <input type="button" value="update" id="updateButton" @click="updateUser" style="display: none;"/>
     
      <ul v-for="user in users">
          <li>{{ user.name }}</li>
          <button @click="edit(user.name)">Edit</button>
          <button @click="deleteUser(user.name)">Delete</button>
      </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        input:'',
        index: 0,
        users: [
            {
                'name' : 'Muhammad Iqbal Mubarok'
            },
            {
                'name' : 'Ruby Purwanti'
            },
            {
                'name' : 'Faqih Muhammad'
            }
        ]
      } ,
      methods:{
        addUser() {
            if(!this.input){
                return;
            }
            this.users.push({'name' : this.input})
            this.input = ''
          },
        edit(name) {
            document.getElementById("addButton").style.display = "none";
            document.getElementById("updateButton").style.display = "block";
            this.input = name
            this.index = this.users.findIndex(user => user.name == name)
            console.log(this.index)
        },
        updateUser(){
            this.users[this.index].name = this.input
            document.getElementById("addButton").style.display = "block";
            document.getElementById("updateButton").style.display = "none";
            this.index = 0
            this.input = ''
        },
        deleteUser(name){
            if(confirm("Anda Yakin ?")){
                this.index = this.users.findIndex(user => user.name == name)
                this.users.splice(this.index, 1)
                this.index = 0
            }
        }
      }
  })
  </script>
</body>
</html>