body {
    background-image: url(https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: auto;
}

.neonBlock {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    text-align: center;
    display: inline-block;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;
  }

textarea {
    resize: none;
    text-align: center;
    display: inline-block;
    background-color: rgba(188, 19, 254, 0.5);
    vertical-align: middle;
    line-height: 85%;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}

img {
  border-radius: 50%;
}