<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <input class="form-control" type="text" v-model="searchRes"/>
      <ul v-for="book in searchFilter">
          <li>{{ book }}</li>
      </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data(){
        return {
          searchRes: null,
          books: [
              'Kalkulus Dasar',
              'Fisika Dasar',
              'Aljabar Linier Elementer',
              'Aljabar Abstrak',
              'Algoritma Pemrograman'
          ]
        }
      } ,
      computed: {
        searchFilter(){
          if (this.searchRes){
            return this.books.filter((book) => {
              return book.toLowerCase().includes(this.searchRes.toLowerCase())
            })
          }
          else{
              return this.books
          }
        }
      }
  })
  </script>
</body>
</html>